table tr te
{
   color:purple;
   font-family:Trebuchet MS,Helvetica,sans-serif;
   font-size:26px;
   font-weight:688
}

input
{
 color:red;
font-family:Trebuchet MS,Helvetica,sans-serif;
font-size:57px;
font-weight:700  
}